<script setup lang="ts">
import { useHomeStore } from '@/stores/homeStore';

const homestore = useHomeStore()
</script>
<template>
    <div>
        <button @click="homestore.doInc">{{ homestore.num}}</button>
    </div>
</template>