<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';
import { nextTick, ref } from 'vue';
const messages = ref(<string[]>[])
const answers = ['สวัสดีที่รัก', 'ไปไหนมาหรอ', 'กินข้าวหรือยัง', 'ไม่คุยด้วยละ']
const messageList = ref<typeof MessageList | null>(null)
function send(message: string){
    messages.value.push(message)
    answerwithComputer()
}
function answerwithComputer() {
    const answer = answers[Math.floor(Math.random()*10000)%answers.length]
    messages.value.push(answer)
    nextTick(() => {
        messageList.value?.updateUI()
    })
    
}
</script>   
<template>
    <div>
    <MessageList ref = "messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
    </div>
</template>
<style scoped></style>
